<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css" >
    <title>Homework</title>
</head>
<body>
    <h1 class='text-center'>Homework</h1>

        <div class='container'>
            <div class='row'>
            <% for(var i=0; i<list.length; i++){ %>
                <div class='col col-lg-3 col-md-4 col-sm-6 col-12'>

                    <div class="card p-2 my-2" style="width: 100%;">
                        <img src=<%= list[i].image_url %> class="card-img-top" alt=<%= list[i].image_url %>>
                        <div class="card-body p-1">
                            <p class="card-title fw-bold" style="height: 75px;"><%= list[i].title %></p>

                            <div>
                                <% const listDate = ((list[i].created_at).split(' ')[0]).split('-') %>
                                <% const nowDate = [new Date().getFullYear().toString(), new Date().getMonth().toString(), new Date().getDate().toString()] %>
                                <% if(listDate[0] < nowDate[0]) { %>
                                    <small><%= nowDate[0] - listDate[0]; %> years ago</small> 
                                <% } else if(listDate[0] === nowDate[0]) { %>
                                    <small><%= nowDate[1] - listDate[1]; %> months ago</small> 
                                <% } else if(listDate[0] === nowDate[0] && listDate[1] === nowDate[1]) { %>
                                    <small><%= nowDate[2] - listDate[2]; %> days ago</small> 
                               <% } %>
                            </div>
                            
                           <div>  
                                <span style="font-size: 1em; color: Tomato;">                    
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span> 
                           </div>  

                           <div>
                            <p class="card-title fw-bold fs-5">฿ <%= (list[i].price).toFixed(2) %></p>
                           </div>   
                        </div>
                    </div>
                
                </div>
            <% } %>
        </div>

        <div class='d-flex justify-content-center my-3'>
            <p class='paginate p-3 bg-danger text-dark m-1 border border-dark'>1</p>
            <p class='paginate p-3 bg-light text-dark m-1 border border-dark text-muted'>2</p>
            <p class='paginate p-3 bg-light text-dark m-1 border border-dark text-muted'><i class="fa fa-chevron-right"></i></p>
        </div>
        </div>
        


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>