.card {
  transition: 0.3s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05) translateY(-3px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paginate {
  transition: 0.3s;
}

.paginate:hover {
  cursor: pointer;
  transform: scale(1.03) translateY(-3px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
